<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestion des departements</title>
    <!-- Chargement des styles de Tailwind -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
      integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body
    class="w-full h-full"
    style="
      background: linear-gradient(
          rgba(139, 200, 240, 0.5),
          rgba(105, 196, 235, 0.5)
        ),
        url('https://static.vecteezy.com/ti/vecteur-libre/t2/1874129-abstrait-bleu-ondule-vectoriel.jpg');
      background-size: cover;
      background-repeat: no-repeat;
    "
  >
    <div class="bg-white container mx-auto mt-4 p-4">
      <h1 class="text-center text-2xl font-bold mb-4">
        Gestion des departements
      </h1>

      <!-- Formulaire d'ajout d'un nouvel organisme -->
      <div class="mb-8">
        <h2 class="text-xl font-bold mb-2">Modifier departement</h2>
        <form class="flex flex-col md:flex-row md:items-center">
          <input
            class="border border-gray-400 p-2 rounded-md mb-2 md:mr-2 md:mb-0"
            type="text"
            id="code_departement"
            value="${e.code_departement}"
            placeholder="Code de departement"
          />
          <input
            class="border border-gray-400 p-2 rounded-md mb-2 md:mr-2 md:mb-0"
            type="text"
            id="nom_departement"
            placeholder="Nom de departement"
            value="${e.nom_departement}"
          />
     
         
        
        </form>
      </div>
      <div class="flex justify-center">
        <button
          class="bg-blue-300 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition-colors"
          id="editdepartement"
        >
          Modifier
        </button>
      </div>
  
    </div>
  </body>
  <script>
    const editdepartement = document.getElementById("editdepartement");
    editdepartement.addEventListener("click", (e) => {
      e.preventDefault();
      const departement= {
      code_departement: document.getElementById("code_departement").value,
      nom_departement: document.getElementById("nom_departement").value,

     };
  
   axios.post("http://localhost:3000/admin/updatedepartement/${e.id}", departement)
      .then((data) => {
         if (data.data.success) {
          window.location.href = "/admin/departement";
         } else {
          alert("Erreur lors de la modification de departement");
        }
   })
       .catch((error) => {
         console.error("Error:", error);
       });
   });
 </script>
</html>
