<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestion des étudiants</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  </head>

  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8" />
      <title>Page d'inscription</title>

      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind.min.css"
      />
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      />
    </head>

    <body
      class="w-full h-full"
      style="
        background: linear-gradient(
            rgba(139, 200, 240, 0.5),
            rgba(105, 196, 235, 0.5)
          ),
          url('https://static.vecteezy.com/ti/vecteur-libre/t2/1874129-abstrait-bleu-ondule-vectoriel.jpg');
        background-size: cover;
        background-repeat: no-repeat;
      "
    >
      <div class="bg-white container mx-auto mt-4 p-4">
        <h1 class="text-center text-3xl font-bold mb-4">
          Gestion des étudiants
        </h1>

        <div class="flex justify-between items-center mb-4">
          <h2 class="text-xl font-bold">Liste des étudiants</h2>

          <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            id="js--openModal"
          >
            Ajouter un étudiant
          </button>
          <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          >
            Importer un étudiant
          </button>
          <script>
            function importCSV() {
              var fileInput = document.createElement("input");
              fileInput.type = "file";
              fileInput.accept = ".csv";
              fileInput.addEventListener("change", function (event) {
                var file = event.target.files[0];
                var reader = new FileReader();
                reader.onload = function (event) {
                  var csvData = event.target.result;
                  var parsedCSV = parseCSV(csvData);
                  displayCSV(parsedCSV);
                };
                reader.readAsText(file);
              });
              fileInput.click();
            }

            function parseCSV(csvData) {
              // var rows = csvData.split("\n");
              // var result = [];
              // for (var i = 0; i < rows.length; i++) {
              //   var cells = rows[i].split(",");
              //   result.push(cells);
              // }
              // return result;
            }

            function displayCSV(parsedCSV) {
              var csvDataElement = document.getElementById("csvData");
              var table = "<table class='table-auto border'>";
              for (var i = 0; i < parsedCSV.length; i++) {
                table += "<tr>";
                for (var j = 0; j < parsedCSV[i].length; j++) {
                  table +=
                    "<td class='border px-4 py-2'>" + parsedCSV[i][j] + "</td>";
                }
                table += "</tr>";
              }
              table += "</table>";
              csvDataElement.innerHTML = table;
            }
          </script>
        </div>
        <table class="table-auto w-full">
          <thead>
            <tr>
              <th class="px-4 py-2">Cin</th>
              <th class="px-4 py-2">Nom</th>
              <th class="px-4 py-2">Prénom</th>
              <th class="px-4 py-2">Filière</th>
              <th class="px-4 py-2">Email</th>
              <th class="px-4 py-2">Numero télephone</th>
              <th class="px-4 py-2">Ville</th>
              <th class="px-4 py-2">Actions</th>
            </tr>
          </thead>
          <tbody>
            <!-- loop on data  -->
            ${
              etudiants.map((e) => {
                console.log(e);
                return `<tr>
                  <td class="border px-4 py-2">${e.user.dataValues.cin}</td>
                  <td class="border px-4 py-2">${e.nom}</td>
                  <td class="border px-4 py-2">${e.prenom}</td>
                  <td class="border px-4 py-2">${e.filiere}</td>
                  <td class="border px-4 py-2">${e.user.dataValues.email}</td>
                  <td class="border px-4 py-2">${e.telephone}</td>
                  <td class="border px-4 py-2">${e.ville}</td>
                  <td class="border px-4 py-2">
                    <a
                      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded"
                      href="/admin/editetudiant/${e.id}"
                    >
                      Modifier
                  </a>
                    <button
                      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded"
                     onclick="deleteEtudiant('${e.id}')"
                    >
                      Supprimer
                    </button>
                  </td>
                  </tr>`
                }).join('')
            }
            <!-- <tr>
              <td class="border px-4 py-2"></td>
              <td class="border px-4 py-2"></td>
              <td class="border px-4 py-2"></td>
              <td class="border px-4 py-2"></td>
              <td class="border px-4 py-2"></td>
              <td class="border px-4 py-2"></td>
              <td class="border px-4 py-2"></td>
              <td class="border px-4 py-2">
                <button
                  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded"
                >
                  Modifier
                </button>
                <button
                  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded"
                >
                  Supprimer
                </button>
              </td>
            </tr> -->
      
          </tbody>
        </table>
      </div>

      <!-- >cin nom prenom email nunm ville  -->
      <dialog id="js--modal">
        <form>
          <div class="grid gap-6 mb-6 md:grid-cols-2">
            <div>
              <label
                for="first_name"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Nom</label
              >
              <input
                type="text"
                id="nom"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="nom de l'etudiant"
                
              />
            </div>
            <div>
              <label
                for="last_name"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Prenom</label
              >
              <input
                type="text"
                id="prenom"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="prenom de l'etudiant"
                
              />
            </div>
            <div>
              <label
                for="company"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Email</label
              >
              <input
                type="text"
                id="email"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="email de l'etudiant"
                
              />
            </div>
            <div>
              <label
                for="phone"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >CIN</label
              >
              <input
                id="cin"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="num CIN de l'etudiant"
                
              />
            </div>
            <div>
              <label
                for="website"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Telephone</label
              >
              <input
                id="telephone"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="telephone de l'etudiant"
                
              />
            </div>
            <div>
              <label
                for="visitors"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Ville</label
              >
              <input
                id="ville"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="ville"
                
              />
            </div>
          </div>

          <div>
            <label
              for="visitors"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Filiere</label
            >
            <input
              id="filiere"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Filiere"
              
            />
          </div>
          
        </div>
    
          <button
            type="submit"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        id="addEtudiant"
            >
            Submit
          </button>
        </form>
      </dialog>


        <!-- > edit modal  -->
        <dialog id="js--editmodal">
          <h6>Modifier Etudiant</h6>
          <form>
            <div class="grid gap-6 mb-6 md:grid-cols-2">
              <div>
                <label
                  for="first_name"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Nom</label
                >
                <input
                  type="text"
                  id="nom"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="nom de l'etudiant"
                  
                />
              </div>
              <div>
                <label
                  for="last_name"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Prenom</label
                >
                <input
                  type="text"
                  id="prenom"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="prenom de l'etudiant"
                  
                />
              </div>
              <div>
                <label
                  for="company"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Email</label
                >
                <input
                  type="text"
                  id="email"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="email de l'etudiant"
                  
                />
              </div>
              <div>
                <label
                  for="phone"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >CIN</label
                >
                <input
                  id="cin"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="num CIN de l'etudiant"
                  
                />
              </div>
              <div>
                <label
                  for="website"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Telephone</label
                >
                <input
                  id="telephone"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="telephone de l'etudiant"
                  
                />
              </div>
              <div>
                <label
                  for="visitors"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Ville</label
                >
                <input
                  id="ville"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="ville"
                  
                />
              </div>
            </div>
  
            <div>
              <label
                for="visitors"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Filiere</label
              >
              <input
                id="filiere"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Filiere"
                
              />
            </div>
            
          </div>
      
            <button
              type="submit"
              class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          id="addEtudiant"
              >
              Submit
            </button>
          </form>
        </dialog>
    </body>
    <script>
      const modal = document.getElementById("js--modal");
      const modalButton = document.getElementById("js--openModal");

      modalButton.addEventListener("click", (e) => {
        modal.showModal();
      });

      // Close the modal if clicked outside the modal
      modal.addEventListener("click", (e) => {
        const dialogDimensions = modal.getBoundingClientRect();
        if (
          e.clientX < dialogDimensions.left ||
          e.clientX > dialogDimensions.right ||
          e.clientY < dialogDimensions.top ||
          e.clientY > dialogDimensions.bottom
        ) {
          modal.close();
        }
      });


      // const editmodal = document.getElementById("js--editmodal");
      // console.log(editmodal);
      // const editmodalButton = document.getElementById("js--openeditModal");

      // editmodalButton.addEventListener("click", (e) => {
      //   editmodal.showModal();
      // });

      // // Close the modal if clicked outside the modal
      // editmodal.addEventListener("click", (e) => {
      //   const dialogDimensions = editmodal.getBoundingClientRect();
      //   if (
      //     e.clientX < dialogDimensions.left ||
      //     e.clientX > dialogDimensions.right ||
      //     e.clientY < dialogDimensions.top ||
      //     e.clientY > dialogDimensions.bottom
      //   ) {
      //     editmodal.close();
      //   }
      // });


      const addEtudiant = document.getElementById("addEtudiant");
      addEtudiant.addEventListener("click", (e) => {
        e.preventDefault();
        const nom = document.getElementById("nom").value;
        const prenom = document.getElementById("prenom").value;
        const email = document.getElementById("email").value;
        const cin = document.getElementById("cin").value;
        const telephone = document.getElementById("telephone").value;
        const ville = document.getElementById("ville").value;
        const filiere = document.getElementById("filiere").value;
        const data = {
          nom,
          prenom,
          email,
          cin,
          telephone,
          ville,
          filiere,
        };


        axios.post("http://localhost:3000/admin/addEtudiant", data).then((res) => {
          console.log(res);
         if (res.data.success) {
          
             window.location.reload();
           
         }
        });

      });

      function deleteEtudiant (id)  {
        axios.delete("http://localhost:3000/admin/deleteetudient/"+id).then((res) => {
          console.log(res);
          if (res.data.success) {
            window.location.reload();
          }
        });
      };
    </script>
  </html>
</html>
