<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Espace Interne</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind.min.css"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
      integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>

  <body
    class="w-full h-full"
    style="
      background: linear-gradient(
          rgba(139, 200, 240, 0.5),
          rgba(105, 196, 235, 0.5)
        ),
        url('https://static.vecteezy.com/ti/vecteur-libre/t2/1874129-abstrait-bleu-ondule-vectoriel.jpg');
      background-size: cover;
      background-repeat: no-repeat;
    "
  >
    <script></script>
    <section
      class="bg-white max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-lg"
    >
      <div class="flex justify-center">
        <div class="mx-auto">
          <div class="flex justify-center">
            <div class="h-64 w-64">
              <img
                class="flex items-center justify-center"
                src="https://png.pngtree.com/png-vector/20220526/ourmid/pngtree-online-registration-or-sign-up-login-for-account-on-smartphone-app-png-image_4740859.png"
              />
            </div>
          </div>
          ${selected === "organisme" ? `
          <form action="" id="signupFormOrganisme" m class="mx-auto">
            <div class="w-full flex mx-6 my-2">
              <input
                class="mx-6 border-b-2 border-gray-300 outline-none shadow-sm"
                id="code_organisme"
                type="text"
                placeholder="Code de l'organisme"
              />
              <input
                class="mx-6 border-b-2 order-gray-300 outline-none shadow-sm"
                id="nom_organisme"
                type="text"
                placeholder="Nom de l'organisme"
              />
            </div>
            <div class="flex mx-6 my-2">
              <input
                class="mx-6 my-4 border-b-2 order-gray-300 outline-none shadow-sm"
                id="addresse_organisme"
                type="text"
                placeholder="Addresse de l'organisme"
              />
              <input
                class="mx-6 my-4 border-b-2 order-gray-300 outline-none shadow-sm"
                id="telephone_organisme"
                type="text"
                placeholder="Telephone de l'organisme"
              />
            </div>

            <div class="flex mx-6 my-2">
              <input
                class="mx-6 my-4 border-b-2 order-gray-300 outline-none shadow-sm"
                id="email_organisme"
                type="text"
                placeholder="Email de l'organisme "
              />
              <input
                class="mx-6 my-4 border-b-2 order-gray-300 outline-none shadow-sm"
                id="secteur_activite"
                type="text"
                placeholder="Secteur d'activité"
              />
            </div>

            <div class="flex justify-center">
              <button
                class="w-40 bg-blue-400 hover:bg-blue-500 text-white font-bold py-2 px-6 rounded focus:outline-none focus:shadow-outline"
                type="submit"
              >
                S'inscrire
              </button>
            </div>
          </form>

          ` : ``} ${selected === "tuteur" ? `
          <form id="signupFormTuteur" class="mx-auto">
            <div class="w-full flex mx-6 my-2">
              <input
                class="mx-6 border-b-2 border-gray-300 outline-none shadow-sm"
                id="nom"
                type="text"
                placeholder="Nom de tuteur"
              />
              <input
                class="mx-6 border-b-2 order-gray-300 outline-none shadow-sm"
                id="code"
                type="text"
                placeholder="Code tuteur"
              />
            </div>

            <div class="flex mx-6 my-2">
              <input
                class="mx-6 my-4 border-b-2 order-gray-300 outline-none shadow-sm"
                id="fonction"
                type="text"
                placeholder="Fonction de tuteur"
              />
            </div>
            ${selected !== "organisme" ? `

            <div class="flex mx-6 my-2">
              <label
                for="type"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Selecter votre type</label
              >
              <select
                onchange="selectOrganisme(event)"
                id="organismeId"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              >
                ${organismes.map((o)=>{ return `
                <option value="${o?.id}">${o.nom_organisme}</option>
                ` })}
              </select>
            </div>
            ` : ``}
          </form>
          <div class="flex justify-center">
            <button
              id="signuptuteurBTN"
              class="w-40 bg-blue-400 hover:bg-blue-500 text-white font-bold py-2 px-6 rounded focus:outline-none focus:shadow-outline"
            >
              S'inscrire
            </button>
          </div>
          ` : ``} ${selected === "respossableorganisme" ? `
          <form action="" id="signuprespossableorganisme" m class="mx-auto">
            <div class="w-full flex mx-6 my-2">
              <input
                class="mx-6 border-b-2 border-gray-300 outline-none shadow-sm"
                id="nomro"
                type="text"
                placeholder="Nom"
              />
              <input
                class="mx-6 border-b-2 border-gray-300 outline-none shadow-sm"
                id="prenomro"
                placeholder="prenom"
              />
            </div>

            <div class="flex mx-6 my-2">
              <input
                class="mx-6 border-b-2 order-gray-300 outline-none shadow-sm"
                id="code_responsable"
                type="text"
                placeholder="code responsable"
              />
              <input
                class="mx-6 border-b-2 order-gray-300 outline-none shadow-sm"
                id="emailro"
                type="text"
                placeholder="E-mail..."
              />
            </div>
            <div class="flex mx-6 my-2">
              <input
                class="mx-6 my-4 border-b-2 order-gray-300 outline-none shadow-sm"
                id="numro"
                type="text"
                placeholder="votre Num "
              />
              <input
                class="mx-6 my-4 border-b-2 order-gray-300 outline-none shadow-sm"
                id="fonctionro"
                type="text"
                placeholder="Fonction "
              />
            </div>

            ${selected !== "organisme" ? `

            <div class="flex mx-6 my-2">
              <label
                for="type"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Selecter votre organisme</label
              >
              <select
              onchange="selectOrganisme(event)"
                id="type"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              >
                ${organismes.map((o)=>{ return `
                <option value="${o?.id}">${o.nom_organisme}</option>
                ` })}
              </select>
            </div>
            ` : ``}
            <div class="flex justify-center">
              <button
                class="w-40 bg-blue-400 hover:bg-blue-500 text-white font-bold py-2 px-6 rounded focus:outline-none focus:shadow-outline"
                id="signuprespossableorganismeBTN"
              >
                S'inscrirezzz
              </button>
            </div>
          </form>
          ` : ``}
        </div>
      </div>
    </section>
  </body>

  <script>
    let organismeId = "${organismes[0]?.id}";
    const selectOrganisme = (event) => {
      organismeId = event.target.value;
    };

    const signuptuteur = document.getElementById("signuptuteurBTN");
    signuptuteur ? signuptuteur.addEventListener("click", async (e) => {
      e.preventDefault();
      let bodyData = {
        nom: document.getElementById("nom").value,
        code_tuteur: document.getElementById("code").value,
        fonction: document.getElementById("fonction").value,
        organismeID: organismeId,
      };
      console.log(bodyData);
      await axios.post("/auth/registertuteur", bodyData).then((res) => {
        console.log(res);
        if (res.data.success) {
           window.location.href = "/auth/loginPage";
        }
      });
    })
    : 
    null

    const signuprespossableorganisme = document.getElementById(
      "signuprespossableorganismeBTN"
    );
    console.log(signuprespossableorganisme);
    signuprespossableorganisme.addEventListener("click", async (e) => {
      e.preventDefault();
      let bodyData = {
        nom: document.getElementById("nomro").value,
        prenom: document.getElementById("prenomro").value,
        email: document.getElementById("emailro").value,
        organismeId: organismeId,
        code_responsable: document.getElementById("code_responsable").value,
        fonction: document.getElementById("fonctionro").value,
      };
      await axios.post("/organisme/addresp", bodyData).then((res) => {
        if (res.data.success) {
           window.location.href = "/auth/loginPage";
        }
      });
    });
  </script>
</html>
